<!-- <form [formGroup]="form" class="w-100 p-2">

  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-form-field class="ms-2 d-block" appearance="fill">
        <mat-label>Empresa</mat-label>
        <input matInput formControlName="company" />
        <mat-error *ngIf="form.controls.company.invalid && form.controls.company.hasError('required')">A empresa é
          obrigatória</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6">
      <mat-form-field class="ms-2 d-block" appearance="fill">
        <mat-label>Obra</mat-label>
        <input matInput formControlName="work" />
        <mat-error *ngIf="form.controls.work.invalid && form.controls.work.hasError('required')">A obra é
          obrigatória</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6">
      <mat-form-field class="ms-2 d-block" appearance="fill">
        <mat-label>Banco</mat-label>
        <input matInput formControlName="bank" />
        <mat-error *ngIf="form.controls.bank.invalid && form.controls.bank.hasError('required')">O banco é
          obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6">
      <mat-form-field class="ms-2 d-block" appearance="fill">
        <mat-label>Conta</mat-label>
        <input matInput formControlName="account" />
        <mat-error *ngIf="form.controls.account.invalid && form.controls.account.hasError('required')">A conta é
          obrigatória</mat-error>
      </mat-form-field>
    </div>
  </div>

  <h3>converter para:</h3>
  <mat-form-field class="ms-2" appearance="fill">
    <mat-label>Tipo de conversão</mat-label>
    <mat-select formControlName="converterType">
      <mat-option [value]="'xlsx'">
        <span> XLSX - Excel</span>
      </mat-option>

    </mat-select>
  </mat-form-field>
  <div class="h-100">
    <button mat-raised-button class="ms-2" [disabled]="form.invalid"
      style="height: 50px; width: auto; font-size: 1.5rem" (click)="save()" color="accent" type="button">
      Converter
    </button>
  </div>
</form> -->
