<mat-toolbar color="primary" class="w-100 " style="height: 80px;">
  <div class="container d-flex justify-content-center align-items-center">
  
    <img class="me-2" style="width: 120px; aspect-ratio: 142 / 61;" width="142"  src="assets/images/logo_pb.png" />
  
  
    
  </div>
</mat-toolbar>
<div class="container d-flex flex-column justify-content-center  w-100" style="min-height: 90vh; height:100%" >
  <div class="mat-elevation-z5 rounded p-2 w-100" style="background-color: #fff; ">
    <h1> Conversor Lcm </h1>
    <mat-divider></mat-divider>
    <app-dropzone [isMultiple]="false" class="w-50" [valueInitial]="0" accept="*" (addFileEvent)="onFileChange($event)"></app-dropzone>
    <mat-divider></mat-divider>
    <form [formGroup]="form" class="w-100 py-2 d-flex flex-row justify-content-center align-items-start">
     
      <h3>converter para: </h3>
      <mat-form-field class=" ms-2 " appearance="fill">
        <mat-label>Tipo de conversão</mat-label>
        <mat-select formControlName="converterType" >
          <mat-option [value]="'xlsx'">
            <span> XLSX - Excel</span>
          </mat-option>
          <mat-option [value]="'csv'">
            <span> CSV - Excel</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="h-100">
        <button mat-raised-button class="ms-2" style="height: 50px; width: auto; font-size:  1.5rem;" (click)="save()" color="accent" type="button"> Converter </button>
      </div>
        
    </form>
    <mat-divider></mat-divider>
    <div>
      <a download href="assets/images/logo_pb.png" class="card-file flex-column justify-content-between">
        <div class="w-100 d-flex flex-row justify-content-end align-items-center">
          <mat-icon>file_download</mat-icon>
        </div>
       <div>
        <span>teste</span>
       </div>
       <div></div>
      </a>
    </div>
  </div>
</div>