<mat-toolbar color="accent" class="w-100" style="height: 80px">
  <div class="container d-flex justify-content-center align-items-center">
    <img class="me-2" style="width: 80px; aspect-ratio: 1 / 1" width="80" src="assets/images/logo.png" />
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="primary" class="w-100" style="height: 80px; position: fixed; bottom: 0; left: 0; right: 0">
  <div class="
      container
      d-flex
      flex-column
      justify-content-center
      align-items-center
    ">
    <span style="font-size: 0.8rem">Desenvolvido por
      <a class="linkSites" target="_blank" href="https://github.com/Yuu-Kuuhaku">@Yuu_Kuuhaku</a>.</span>
  </div>
</mat-toolbar>
