<mat-toolbar color="accent" class="w-100 " style="height: 80px;">
  <div class="container d-flex justify-content-center align-items-center">
    <img class="me-2" style="width: 120px; aspect-ratio: 142 / 61;" width="142"  src="assets/images/logo_invertida.png" />
  </div>
</mat-toolbar>

  <div class="container d-flex flex-column justify-content-center " style="min-height: 72vh; height:100%; margin-bottom: 100px;" >
    <div class="mat-elevation-z5 rounded p-2 w-100" style="background-color: #fff; ">
      <div class="w-100 text-center" > 
        <h1 style="font-weight: 700;"> Conversor de arquivo de texto (.txt)   </h1>
      </div>
      <mat-divider></mat-divider>
      <app-dropzone [isMultiple]="false" class="w-50" [valueInitial]="0" accept="text/plain" 
        (addFileEvent)="onFileChange($event)" (removeFileEvent)="onFileRemove($event)">
      </app-dropzone>
      <div class="m-2 mx-3">
        <span *ngIf="form.controls.file.invalid && form.controls.file.touched ">
          <span style="font-size: 0.8rem; color: #ff0000" *ngIf="form.controls.file.errors?.required "> O Arquivo é obrigatório! </span>
        </span>
      </div>
      <mat-divider></mat-divider>
      <form [formGroup]="form" class="w-100 py-2 d-flex flex-column flex-sm-row  justify-content-center align-items-center align-items-sm-start">
       
        <h3>converter para: </h3>
        <mat-form-field class=" ms-2 " appearance="fill">
          <mat-label>Tipo de conversão</mat-label>
          <mat-select formControlName="converterType" >
            <mat-option [value]="'xlsx'">
              <span> XLSX - Excel</span>
            </mat-option>
            <!-- <mat-option [value]="'csv'">
              <span> CSV - Excel</span>
            </mat-option> -->
          </mat-select>
        </mat-form-field>
        <div class="h-100">
          <button mat-raised-button class="ms-2" [disabled]="form.invalid" style="height: 50px; width: auto; font-size:  1.5rem;"  (click)="save()" color="accent" type="button"> Converter </button>
        </div> 
      </form>
    </div>
  </div>
<mat-toolbar color="primary" class="w-100 " style="height: 80px; position: fixed; bottom: 0; left: 0; right: 0;">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <span style="font-size: 0.8rem">  
      <a  class="linkSites" target="_blank"  href="https://www.lcmconstrucao.com.br/" >LCM.</a>
       Todos os direitos reservados. </span>
    <span style="font-size: 0.8rem">Desenvolvido por <a class="linkSites" target="_blank" href="https://www.findsolucoes.com.br/" >Find Soluções</a>.</span>
  </div>

</mat-toolbar>
