
  <h1 mat-dialog-title class="mb-3 d-flex align-items-center justify-content-center" style="color: #fff;"> </h1>
  <mat-dialog-content  class="mb-3 d-flex align-items-center justify-content-center">
    <ng-lottie width="250px" height="300px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  </mat-dialog-content>
  <mat-dialog-content class="mb-3 d-flex align-items-center justify-content-center overflow-hidden">
    <mat-progress-bar style="width: '250px';" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions class="d-block text-right">
  </mat-dialog-actions>

