.custom-not-found {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
}

.custom-not-found {
    .title-not-found {
        color: #000;
        display: flex !important;
        top: 0 !important;
    }
}

a {
    color: #000 !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.teste{
  width: 65vw;
  height: 65vh;
}
